@charset "UTF-8";
.today-all {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.today-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}
.today-nav div {
  font-size: 32px;
}
.today-nav button {
  border: 0;
  outline: none;
  margin-left: 10px;
  background-color: white;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  padding: 0;
}
.today-nav button svg {
  width: 24px;
  height: 24px;
  -o-object-fit: cover;
     object-fit: cover;
}
.today-nav button:hover {
  cursor: pointer;
  background-color: #999;
  border-radius: 50%;
  box-sizing: border-box;
}

.today-date-show {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1vh;
  font-size: 20px;
  font-weight: 650;
}
.today-date-show h1 {
  width: 100vw;
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  white-space: normal;
  overflow-wrap: break-word;
}

.today-plusplan-ui {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: white;
  border: 1px solid black;
  height: 50vh;
  width: 50vh;
  margin-top: -5vh;
  padding: 16px;
}
.today-plusplan-ui h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0;
  position: relative;
}
.today-plusplan-ui h1 button {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  outline: none;
  background-color: white;
  padding: 0;
  width: 40px;
  height: 40px;
}
.today-plusplan-ui h1 button:hover {
  border-radius: 50%;
  cursor: pointer;
  background-color: #999;
}
.today-plusplan-ui .today-input-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 16px;
}
.today-plusplan-ui .today-input-group .today-plan-input {
  font-size: 16px;
  width: 90%;
  height: 40px;
  margin-bottom: 16px;
}
.today-plusplan-ui .today-input-group .today-time-inputs {
  display: flex;
  justify-content: space-around;
  width: 90%;
  margin-left: -1.6vh;
}
.today-plusplan-ui .today-input-group .today-time-inputs span {
  margin-right: 1px;
  margin-left: 2px;
  font-size: 16px;
  align-self: center;
  font-weight: bold;
}
.today-plusplan-ui .today-input-group .today-time-inputs .today-time-inputs-start {
  display: flex;
  align-items: center;
}
.today-plusplan-ui .today-input-group .today-time-inputs .today-time-inputs-start select {
  height: 3vh;
  width: auto;
}
.today-plusplan-ui .today-input-group .today-time-inputs .today-time-inputs-start input {
  margin-left: 1vh;
  height: 3vh;
  width: 4vw;
}
.today-plusplan-ui .today-input-group .today-time-inputs .today-time-inputs-end {
  display: flex;
  align-items: center;
  margin-left: 0.3vh;
}
.today-plusplan-ui .today-input-group .today-time-inputs .today-time-inputs-end select {
  height: 3vh;
  width: auto;
}
.today-plusplan-ui .today-input-group .today-time-inputs .today-time-inputs-end input {
  margin-left: 1vh;
  height: 3vh;
  width: 4vw;
}
.today-plusplan-ui .today-input-group .today-choose-type {
  margin-top: 2vh;
  font-size: 16px;
  font-weight: 550;
  height: 3vh;
  width: 12vw;
}
.today-plusplan-ui .today-input-group .today-check-important {
  align-self: center;
  justify-self: center;
  margin-top: 18vh;
  height: 2vh;
  width: 8vw;
  font-size: 18px;
  margin-left: 6.6vh;
  position: absolute;
}
.today-plusplan-ui .today-input-group .today-comfirm-add {
  margin-top: 20vh;
  border: 0px;
  width: 6vw;
  height: 3vh;
  font-size: 18px;
  font-weight: 550;
  border-radius: 20px;
  padding: 0.5vh;
}
.today-plusplan-ui .today-input-group .today-comfirm-add:hover {
  cursor: pointer;
  background-color: #999;
}

.today-delete-ui {
  position: absolute;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 12px;
  height: 20vh;
  margin-top: -55vh;
  background-color: white;
}
.today-delete-ui span {
  padding: 0;
  position: absolute;
  margin-top: -17vh;
  margin-left: 31.5vh;
  outline: none;
  background-color: white;
  border: none;
  height: 24px;
  width: 24px;
}
.today-delete-ui span:hover {
  cursor: pointer;
  background-color: #999;
  border-radius: 50%;
}
.today-delete-ui h1 {
  margin-top: 6vh;
  font-size: 30px;
  font-weight: 550;
}
.today-delete-ui button {
  border: none;
  outline: none;
  font-size: 20px;
  padding: 12px;
  margin-left: 1vh;
  margin-top: 2vh;
  border-radius: 18px;
}
.today-delete-ui button:hover {
  cursor: pointer;
  background-color: #999;
}

.hidden {
  display: none !important;
}

.today-lists {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: 1.5px solid black;
  width: 100vh;
  height: 70vh;
  margin-top: 2vh;
}
.today-lists ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow-y: scroll;
}
.today-lists ul::-webkit-scrollbar {
  width: 8px;
  margin-left: 4px;
}

.today-plan {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid black;
  border-radius: 10px;
  width: 90vh;
  height: auto;
  padding: 8px;
  justify-self: center;
  align-self: center;
  margin-left: -3.2vh;
}
.today-plan h1 {
  font-size: 16px;
  margin-left: 2.3vh;
}
.today-plan p {
  font-size: 16px;
  margin-left: 2.3vh;
}
.today-plan div {
  margin-left: auto;
}
.today-plan div button {
  border-radius: 28px;
  border: none;
  outline: none;
  font-size: 18px;
  padding: 8px;
  margin-left: 1.3vh;
}
.today-plan div button:hover {
  cursor: pointer;
  background-color: #999;
}

.today-plan-important {
  background-color: #FFFFB6;
  color: black;
}

.today-plan-complete {
  background-color: greenyellow;
  color: black;
}

.today-setting-ui {
  position: absolute;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 12px;
  height: 22vh;
  width: 28vw;
  margin-top: -50vh;
  background-color: white;
}
.today-setting-ui span {
  position: absolute;
  top: 5px; /* 상단에서 약간의 여백 */
  right: 5px; /* 우측에서 약간의 여백 */
  padding: 0;
  outline: none;
  background-color: white;
  border: none;
  height: 24px;
  width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.today-setting-ui span:hover {
  cursor: pointer;
  background-color: #999;
  border-radius: 50%;
}
.today-setting-ui h1 {
  font-size: 25px;
  font-weight: bold;
}
.today-setting-ui button {
  border: none;
  outline: none;
  font-size: 16px;
  padding: 12px;
  margin-left: 1vh;
  margin-top: 2vh;
  border-radius: 18px;
}
.today-setting-ui button:hover {
  cursor: pointer;
  background-color: #999;
}
.today-setting-ui div {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.today-setting-ui div input {
  height: 3vh;
  width: 20vw;
  font-size: 16px;
}
.today-setting-ui div button {
  border: none;
  outline: none;
  font-size: 16px;
  padding: 8px;
  margin-left: 1vh;
  border-radius: 18px;
}
.today-setting-ui div button:hover {
  cursor: pointer;
  background-color: #999;
}
.today-setting-ui p select {
  margin-left: 2vh;
  font-size: 16px;
}/*# sourceMappingURL=today.css.map */